*.pth
*.ipynb
*.npy
*.pkl
*.pt
*.tar
*.mat
*.list.train
*.zip

lib/blazeface/*.png
lib/hopenet/*.gif
lib/hsemotion/**/*.jpg
lib/synergynet/**/*.png
lib/synergynet/**/*.gif
lib/synergynet/**/*.jpg
lib/me_graphau/data
lib/me_graphau/**/*.png
lib/me_graphau/**/*.jpg


.env
